# Data Types

- __String__
    
- __Integer__
    
- __Float__

- __Boolean__

In [6]:
# String

var = 'ironhack'
#var = 1
#var = var[:4]

print(var)
type(var)

ironhack

str

In [7]:
# integer and float

x = 10
y = 2
z = x / y #El resultado de esta operación siempre va a ser devuelto como float aunque el resultado sea 2
#Para que sea int habria que poner dos // en la operación o realizar el paso siguiente: 
i = int(z)
f = float(i)

print(type(x))
print(type(y))
print(type(z))
print(type(i))
print(type(f))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>

In [13]:
#True or False are always translated into 1 or 0. 
#True = 1
#False = 0
#Strings will always be True. 
#The last product of this cell, the result is 8 because the result of the boolean is True, then 1*8=8


bvar = True
bvar = bool()
bvar = bool(1) 
bvar = bool(0)
bvar = bool('1')
bvar = bool('0')
bvar = bool('0') * 8

print(bvar)
print(type(bvar))

8
<class 'int'>

# Data Structures

- __Tuple__
    
- __List__
    
- __Dict__

- __Set__

In [20]:
# Tuples are immutables: Tuples don't have the same methods than lists for change them. 
# Always with parenthesis, items separated by commas. 

my_tuple = (1, '1', True, ['dog', 'cat'])

#Some of the methods that can be used in tuples: 
print(type(my_tuple))
print(my_tuple[2])
print(type(my_tuple[2]))
print(my_tuple.count(1)) #Method.count() is used for counting how many items are in the tuple matching the conditions inside the parenthesis
#In this case, the result is 2 because True = 1!!!! 
print(my_tuple.index(1)) #Method.index() is used to check the position of the FIRST item that matches the condition of the argument

<class 'tuple'>
True
<class 'bool'>
2
0

In [ ]:
# lists or arrays
#Here same methods than with tuples
my_array = [1, '1', True, ('dog', 'cat')]

print(type(my_array))
print(my_array[2])
print(type(my_array[3]))
print(my_array.count(0))
print(my_array.index(1))

In [31]:
# lists mutation methods
#Methods that can be used with lists but not with tuples
my_array = [1, '1', True, ('dog', 'cat')]

my_array.append('platypus') 
#The .append() method has no return. That's why we cannot assess the length of one array like this: 
'''
my_array2 = my_array.append('hola')
print(len(my_array2))  

The result of that code is an error, because the type of the var is not list, is notype, because the result of the
method is "none"
'''
my_array.extend(['platypus', 'tardigrade']) #This method adds the items of a iterable object as separate elements of the list
# If you want to add the list ['hola', 'mundo'] by using the .append method, the item added is the full list (with brackets)
#If we want to add the same but using the .extend method, the items will be add to our list but not as a list object but as independet items

my_array.insert(1,'platypus') #This adds the item "platypus" in the position 1. 
my_array.pop(True) #This deletes the item that are located in the postion of the argument. Important! .pop method has as a return! 
my_array.remove(True) #This deletes the specific item 
my_array.reverse() # sort the items reversely

#my_array.sort() #order the items if possible. Now this give us an error, because the type of the items 
#my_array.clear() #delete all items of the list
#my_list = my_array.copy() #create a copy of a list, but without deleting the original one! 
#The code my_list = my_array is "like" both list as sync so each change in my_array will affect also to my_list
#See the next cell as example

#print(len(my_array))
#print(my_list)
print(my_array)

['tardigrade', 'platypus', 'platypus', ('dog', 'cat'), True, '1', 'platypus', 1]

In [33]:
array = [1,2,3,4]
my_list = array.copy()

array.append("Hola")
print(array)
print(my_list)

[1, 2, 3, 4, 'Hola']
[1, 2, 3, 4]

In [35]:
# Dicts

my_dict = {'key1': 'value', 'key2': 1981, 'key3': ['platypus', 'tardigrade']}

print(my_dict['key1'])
my_dict['key1'] = 'ironhack' #This is used to reasign a new value for a existing key o create a new one 

print(len(my_dict))
print(my_dict.keys())
print(my_dict.values())
my_dict

value
3
dict_keys(['key1', 'key2', 'key3'])
dict_values(['ironhack', 1981, ['platypus', 'tardigrade']])

{'key1': 'ironhack', 'key2': 1981, 'key3': ['platypus', 'tardigrade']}

In [36]:
for i in my_dict.keys():
     print(i)
        
for i in my_dict.values():
    print(i)
    
for k, v in my_dict.items(): #This is for iterate in the Dict Items (pair key:value)
     print(k, v)

key1
key2
key3
ironhack
1981
['platypus', 'tardigrade']
key1 ironhack
key2 1981
key3 ['platypus', 'tardigrade']

In [57]:
# Sets NON-MUTABLE
# Sets are lists with non-repeatable elements! 
# Notice that if we run the following code, repeated items are deleted and parenthesis are replaced by curly braces
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison', 'Alexander', 'Logan'])
print(girl_names)
print(boy_names)

{'Joanna', 'Madison', 'Mary', 'Logan'}
{'John', 'Madison', 'Logan', 'Alexander'}

In [58]:
# Sets intersection
unisex_names = girl_names.intersection(boy_names) #Elements that appear in both two set or set and list
#notice that the method .intersection() should be applied to a set, but the argument inside the parenthesis could be a list
print(unisex_names)

{'Madison', 'Logan'}

In [59]:
# Sets union
all_names = boy_names.union(girl_names)
print(all_names)

{'John', 'Mary', 'Joanna', 'Logan', 'Madison', 'Alexander'}

In [60]:
# Sets filtering
# Oposite than Intersection. Return names in set boy_names that are not in set girl_names
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'John', 'Alexander'}